@import "imports/font-awesome.less";
@import "imports/jquery.ui.less";
@import "imports/mock.less";
@import "imports/jptoastr.less";
@import "imports/jpicons.less";
.jp-icon {
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block;
}

.jp-menu-icon {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  cursor: pointer;
}

.jp-message-console-icon {
  float: inherit !important;
  display: inline-block;
  padding: 5px !important;
  i {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

.jp-console {
  position: fixed !important;
  right: 10px;
  bottom: 20px;
  z-index: 100000;
  padding: 10px;
  min-height: 270px;
  min-width: 700px;
  .jp-close-console {
    float: right;
    .jp-close-console-icon {
      font-size: 18px;
      position: absolute;
      margin-top: -7px;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  .jp-no-tabs {
    text-align: center;
    padding-top: 30px;
  }
  ul.jp-tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.jp-tabs li {
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .jp-outer-content {
    bottom: 10px;
    right: 10px;
    position: absolute;
    top: 45px;
    left: 10px;
    z-index: 0;
    .jp-tab-content {
      display: none;
      padding: 15px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      .jp-iframe-container {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        top: 40px;
      }
    }
    .jp-tab-content.jp-current {
      display: inherit;
    }
  }
  .jp-current-outer {
    z-index: 1000;
  }
  .jp-icon-close-tab {
    position: relative;
    top: -10px;
    right: -10px;
    font-size: 14px;
    cursor: pointer;
  }
  .jp-icon-copy {
    .jp-menu-icon;
  }
  .jp-icon-save {
    .jp-menu-icon;
  }
  .jp-icon-open {
    .jp-menu-icon;
  }
}

@import "imports/light-theme.less";
@import "imports/dark-theme.less";